<% if obj.errors.any? %>
<div class="row">
    <div class="col-sm-8 mx-auto">

        <h2 class="panel-title">
            <%= pluralize(obj.errors.count, "error")%>
            Prevented the article from being created!</h2>
        </h2>
        <div class="panel-body">
            <ul>
                <% obj.errors.full_messages.each  do |msg|%>

                <li class="text-danger"><%= msg%></li>

                <%end%>
            </ul>
        </div>
    </div>
</div>

<% end %>