<div class="container">
  <% obj.each do |event|%>
    <div class="jumbotron">
      <h4 class="text-center text-uppercase text-center display-5"><%= link_to "#{event.title}", event_path(event) %> </h4>
      <p><%= truncate(event.description, length: 100)%></p>
      <small class="article-description">
        Created by <span class="text-success text-uppercase"><%= event.creator.username if event.creator %></span><br>
               
      </small>
     
       <% if logged_in? && (current_user == event.creator  )%>
      <div class="">
       
        <p>you created the event</p>
      
      </div>
      <%= link_to "Show Event", event_path(event), class: "btn btn-success"%>
         <%end%>
    </div>
    <%end%>
</div>