<div class="container">
   <h4 class="text-center"><%= @event.creator.username%>'s event</h4>
   <div class="card event">
      
      <div class="card-body">
        <p> <span>Created by: </span> <%= @event.creator.username%></p>
         <p><%= @event.description%></p>

      </div>
   </div>
</div>