<div class="container">
    <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-primary text-center"%>
    <% else %>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary text-center"%>
    <%= link_to "Log in", login_path, class: "btn btn-primary text-center"%>
    <% end %>
</div>